*
  box-sizing border-box

html
body
  margin 0
  padding 0
  height 100%
  width 100%

#main
  height 100%
  width 100%
  display flex
  flex-direction row
  align-items stretch
  > div
    width 50%

#preview
  display flex
  flex-direction column
  padding 40px

  #view
    flex-grow 1

#options
  height 100%
  overflow-y scroll

  .label
    padding 26px 40px 24px
    margin-bottom 20px

#buttons
  position fixed
  bottom 0
  right 0
  left 50%
  display flex
  flex-direction row
  justify-content space-between
  margin-top 50px
  padding 20px 40px
  z-index 10000

.page
  padding-bottom 90px

#page1
  #template-options
    ul
      margin 0
      padding 0

#page2
  ul
    list-style none
    margin 0
    padding 0

  .month
    .label
      width 180px
      padding 13px 40px 10px
      .label-month
        margin-right 7px
    .wrap
      display flex
      flex-wrap wrap
      padding 10px 40px 20px

      .item
        padding 10px

        img
          display block

#page1
#page3
  .field
    padding 0 40px 20px

#page3
  .description
    .textfield
      height 200px
