<div id="page2">
  <div class="illustration">
    <div class="label">イラストを選択</div>
    <div class="field">
      <ul>
        <li class="year" v-for="(year, yearItem) in works">
          <ul class="wrap">
            <li class="month" v-for="(month, monthItem) in yearItem">
              <div class="label"><span class="label-month">{{ month }}月</span><span class="label-year">{{ year }}年</span></div>
              <ul class="wrap">
                <li class="item" :class="[~selected.indexOf(item.imgLarge) ? 'active' : '']" v-for="(index, item) in monthItem" @click="selectImage(item.imgLarge)">
                  <img :src="item.imgSmall" alt="">
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
